@import "tailwindcss";

@theme {
  --color-accent: #aa3bff;
  --color-accent-light: rgba(170, 59, 255, 0.1);
  --color-accent-border: rgba(170, 59, 255, 0.5);
}

@variant dark {
  --color-accent: #c084fc;
  --color-accent-light: rgba(192, 132, 252, 0.15);
  --color-accent-border: rgba(192, 132, 252, 0.5);
}
